@model SejmMVC.Models.SearchViewModel


<!DOCTYPE html>
<html>
<head>
    <title>SejmMVC</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
</head>
<body style="color:black">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <!-- Grid for the view -->
        <div class="container students-view" style="width: 100vw">
        
            

        <!-- Content row -->
        <div class="row">

            <!-- Filter panel -->
            <div class="col-md-6">

                <!-- Cards row -->
                <div class="row">
                    <!-- Search card -->
                    <div class="col-md-4">
                        <a href="~/Home/Index" role="button" class="btn btn-info" style="width:100%;cursor:default">
                            Wyszukaj
                        </a>
                    </div>

                    <!-- Poseł i klub card -->
                    <div class="col-md-4">
                        <a href="~/Home/Posel" role="button" class="btn btn-info" style="width:100%;cursor:default">
                            Posłowie i kluby
                        </a>
                    </div>

                    <!-- Vote and acts card -->
                    <div class="col-md-4">
                        <a href="~/Home/Vote" role="button" class="btn btn-info" style="width:100%;cursor:default">
                            Ustawy i głosy
                        </a>
                    </div>

                </div>

                <div style="border-style: dotted; border-width: thin; margin-bottom: 2vh">
                    <div class="row" style="margin:2vh; text-align:center; font-size: 4vh;">
                        POSŁOWIE
                    </div>

                    <!-- Filter posłów row-->

                    <div class="row" style="padding: 1vh">

                        <!-- Filter fields -->
                        <div class="col-md-10">

                            <!-- Filter by club row -->
                            <div class="row">
                                <div class="col-md-3" style="text-align:right">
                                    Klub:
                                </div>
                                <div class="col-md-9">
                                    @Html.DropDownListFor(
                                m => m.filterPosełByClub,
                                Model.data.Kluby.Select(
                                    s => new SelectListItem()
                                    { Text = s.Nazwa, Value = s.ID.ToString() }
                                ).Concat(new SelectListItem[] {
                                    new SelectListItem() { Text = "No filter", Value = "", Selected=true }
                                }),
                                new { @style = "width:100%;height:4vh" }
                            )
                                </div>
                            </div>

                            <!-- Filter by name row -->
                            <div class="row">
                                <div class="col-md-3" style="text-align:right">
                                    Imie/Nazwisko:
                                </div>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(
                                m => m.filterPosełByName, "",
                                new { @style = "width:100%" }
                            )
                                </div>
                            </div>
                        </div>

                    </div> <!-- /Filter row -->
                    <!-- Poseł list row -->
                    <div class="row">
                        <div class="col-md-12">

                            <!-- Fixed-width scrolled container for students data-->
                            <div style="height: 15vh; overflow-y: scroll;border-style:solid;border-width:thin;border-color:gray">
                                <table style="width:100%">

                                    @foreach (var st in Model.data.Posłowie)
                                    {
                                        <tr class="student-list-row" onclick="location.href = '@Url.Action("Index","Home",new { pId = st.ID })'">
                                            <td>
                                                @Html.DisplayFor(s => st.Nazwisko)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(s => st.Imie)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(s => st.Klub.Nazwa)
                                            </td>
                                        </tr>
                                    }
                                </table>


                            </div> <!-- /Container-->

                        </div>

                    </div> <!-- /Poseł list row -->

                </div>

                <div style="border-style: dotted; border-width: thin; margin-bottom: 2vh">
                    <div class="row" style="margin:2vh; text-align:center; font-size: 4vh;">
                        USTAWY
                    </div>

                    <!-- Filter ustawy row-->
                    <div class="row" style="padding: 1vh">

                        <!-- Filter fields -->
                        <div class="col-md-10">

                            <!-- Filter by club row -->
                            <div class="row">
                                <div class="col-md-3" style="text-align:right">
                                    Klub:
                                </div>
                                <div class="col-md-9">
                                    @Html.DropDownListFor(
                                m => m.filterUstawaByClub,
                                Model.data.Kluby.Select(
                                    s => new SelectListItem()
                                    { Text = s.Nazwa, Value = s.ID.ToString() }
                                ).Concat(new SelectListItem[] {
                                    new SelectListItem() { Text = "No filter", Value = "", Selected=true }
                                }),
                                new { @style = "width:100%;height:4vh" }
                            )
                                </div>
                            </div>

                            <!-- Filter by name row -->
                            <div class="row">
                                <div class="col-md-3" style="text-align:right">
                                    Nazwa:
                                </div>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(
                                m => m.filterUstawaByName, "",
                                new { @style = "width:100%" }
                            )
                                </div>
                            </div>
                        </div>

                    </div> <!-- /Filter row -->
                    <!-- Ustawy list row -->
                    <div class="row">
                        <div class="col-md-12">

                            <!-- Fixed-width scrolled container for ustawy data-->
                            <div style="height: 15vh; overflow-y: scroll;border-style:solid;border-width:thin;border-color:gray">
                                <table style="width:100%">

                                    @foreach (var st in Model.data.Ustawy)
                                    {
                                        var date = st.Data.Day + "." + st.Data.Month + "." + st.Data.Year;
                                        <tr class="student-list-row" onclick="location.href = '@Url.Action("Index","Home",new { uId = st.ID })'">
                                            <td>
                                                @Html.DisplayFor(s => st.Nazwa)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(s => date)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(s => st.Klub.Nazwa)
                                            </td>
                                        </tr>
                                    }
                                </table>


                            </div> <!-- /Container-->

                        </div>

                    </div>

                </div>

                <!-- Filter buttons row -->
                <div class="row" style="margin:2vh; text-align:center; font-size: 4vh;">
                    <!-- Filter button -->
                    <div class="col-md-6" style="height:4vh;padding:0;padding-right:15px;margin:auto">
                        <input type="submit" value="Filtruj" class="btn btn-success"
                               style="width:100%; height:100%; margin:auto;cursor:default" />
                    </div>

                    <!-- Clear button -->
                    <div class="col-md-6" style="height:4vh;padding:0;padding-right:15px">
                        <a href="~/Home/Index" role="button" class="btn btn-danger" style="width:100%;height:100%;cursor:default;margin:auto">
                            Odśwież
                        </a>
                    </div>
                </div>



            </div>

            <!-- Votes panel -->
            <div class="col-md-6" style="padding-top: 5.5vh">

                <div style="border-style: dotted; border-width: thin; margin-bottom: 2vh">
                    <div class="row" style="margin:2vh; text-align:center; font-size: 4vh;">
                        GŁOSY
                    </div>

                    <!-- Filter Głosy row-->
                    <div id="glosy" class="row" style="padding: 1vh">

                        <!-- Filter fields -->
                        <div class="col-md-8">

                            <!-- Filter by name row -->
                            <div class="row">
                                <div class="col-md-3" style="text-align:right">
                                    Filtruj:
                                </div>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(
                                m => m.filterVoteByName, "",
                                new { @style = "width:100%" }
                            )
                                </div>
                            </div>
                        </div>

                    </div> <!-- /Filter row -->

                    <!-- Filter votes buttons row -->
                    <div class="row" style="margin:2vh; text-align:center; font-size: 4vh;">
                        <!-- Filter button -->
                        <div class="col-md-6" style="height:4vh;padding:0;padding-right:15px;margin:auto">
                            <input type="submit" value="Filtr" class="btn btn-success"
                                   style="width:100%; height:100%; margin:auto;cursor:default" />
                        </div>

                        <!-- Clear button -->
                        <div class="col-md-6" style="height:4vh;padding:0;padding-right:15px">
                            <a href="~/Home/Index" role="button" class="btn btn-danger" style="width:100%;height:100%;cursor:default;margin:auto">
                                Odśwież
                            </a>
                        </div>
                    </div>

                    <!-- Głosy list row -->
                    <div class="row">
                        <div class="col-md-12">

                            <!-- Fixed-width scrolled container for ustawy data-->
                            <div style="height: 55vh; overflow-y: scroll;border-style:solid;border-width:thin;border-color:gray">
                                <table style="width:100%">

                                    @foreach (var st in Model.data.Głosy)
                                    {
                                        var voteText = st.Głosował != null ? ((bool)st.Głosował ? "za" : "przeciw") : "wstrzymał się";
                                        <tr class="student-list-row-no-light">
                                            <td>
                                                @Html.DisplayFor(s => st.Ustawa1.Nazwa)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(s => st.Poseł1.Nazwisko)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(s => st.Poseł1.Imie)
                                            </td>
                                            <td>

                                                @Html.DisplayFor(s => voteText)
                                            </td>
                                        </tr>
                                    }
                                </table>


                            </div> <!-- /Container-->

                        </div>

                    </div>

                </div>



                <!-- Potential error messages row -->
                <div class="row">
                    <div class="col-md-12">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <span style="color:red;text-align:center;margin:auto">
                            @Html.DisplayFor(m => m.ErrMsg)
                        </span>

                    </div>

                </div>




            </div>


        </div>

       

            
            
    
            
        </div> <!-- /Grid -->



    }
    <!-- /Html.BeginForm -->


</body>
</html>
